$background-color: aquamarine;
$wrapper-background: white;
$wrapper-border:black;
$wrapper-error: red;
$wrapper-heading: black;
$wrapper-text: black;
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
}

.wrapper {
    height: 50%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px $wrapper-border solid;
    background-color: $wrapper-background;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .wrapper-heading {
        color: $wrapper-heading;
        text-align: center;
    }
}

.wrapper-error-weight,
.wrapper-error-height {
    color: $wrapper-error;
    margin-bottom: 5%;
}

.wrapper-row {
    color: $wrapper-text;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    input {
        width: 20%;
        text-align: center;
    }
}

button {
    height: 2rem;
    width: max-content;
}

.wrapper-result {
    font-weight: 700;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .wrapper {
        width: 425px;
        height: 60%;
        padding: 77px;
        .wrapper-heading {
            font-size: 2.5rem;
        }
    }
    .wrapper-row {
        font-size: 1.5rem;
        input {
            font-size: 1.5rem;
        }
    }
    button {
        height: 2rem;
        font-size: 1.5rem;
    }
    .wrapper-result {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .wrapper {
        width: 500px;
        height: 70%;
        padding: 77px;
        .wrapper-heading {
            font-size: 3rem;
        }
    }
    .wrapper-row {
        font-size: 2rem;
        input {
            font-size: 2rem;
        }
    }
    button {
        height: 3rem;
        font-size: 2rem;
    }
    .wrapper-result {
        font-size: 2rem;
    }
}